doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="dist/index.min.css")
    title WTTL - WELCOME TO TWITTER LAND
    // https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@retorillo")
    meta(property="og:url" content="https://retorillo.github.io/wttl")
    meta(property="og:title" content="WTTL Generator")
    meta(property="og:description" content="Header Generator for SNS")
    // https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary
    meta(property="og:image" content="https://retorillo.github.io/wttl/wttl.jpg")
    script(type="text/javascript" src="dist/index.min.js")
  body
    div(id="placeholder" style="width:100%;")
    div(class="container")
      div(class="row")
        div(class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12")
          div(class="input-group mt-1 mb-1")
            div(class="input-group-prepend")
              span(class="input-group-text") Text
            input(class="form-control" data-bind="textInput: text")
            div(class="input-group-append")
              button(class="btn btn-outline-primary" data-bind="click: generate") Update
        div(class="col-6")
          div(class="input-group mt-1 mb-1")
            div(class="input-group-prepend")
              span(class="input-group-text") Font
            select(class="custom-select" data-bind="options: flfs, value: flfname")
        div(class="col-6 text-right")
          div(class="mt-1 mb-1")
            button(class="btn btn-primary" data-bind="click: saveas") Download
      div(class="row")
        div(class="col-sm-12 col-md-6 col-lg-3 col-xl-3")
          div Character Size
          input(type="text" data-provide="slider" data-slider-step="1"
            data-slider-min=5 data-slider-max=50 data-bind="slider: fontsize")
        div(class="col-sm-12 col-md-6 col-lg-3 col-xl-3")
          div Random Range
          input(type="text" data-provide="slider" data-slider-step="0.1" data-slider-range="true"
            data-slider-min=0 data-slider-max=1 data-bind="slider: randomrange")
        div(class="col-sm-12 col-md-6 col-lg-3 col-xl-3")
          div Random Quality
          input(type="text" data-provide="slider" data-slider-step="1"
            data-slider-min=0 data-slider-max=10 data-bind="slider: randomquality")
      div(class="row")
        div(class="col-sm-12 col-md-6 col-lg-3 col-xl-3")
          div Text Hue
          input(type="text" data-provide="slider" data-slider-step="1"
            data-slider-min=0 data-slider-max=360 data-bind="slider: fghue")
        div(class="col-sm-12 col-md-6 col-lg-3 col-xl-3")
          div Text Saturation
          input(type="text" data-provide="slider" data-slider-step="1"
            data-slider-min=0 data-slider-max=100 data-bind="slider: fgsaturation")
        div(class="col-sm-12 col-md-6 col-lg-3 col-xl-3")
          div Text Value
          input(type="text" data-provide="slider" data-slider-step="1"
            data-slider-min=0 data-slider-max=100 data-bind="slider: fgvalue")
      div(class="row")
        div(class="col-sm-12 col-md-6 col-lg-3 col-xl-3")
          div Bkg Hue
          input(type="text" data-provide="slider" data-slider-step="1"
            data-slider-min=0 data-slider-max=360 data-bind="slider: bghue")
        div(class="col-sm-12 col-md-6 col-lg-3 col-xl-3")
          div Bkg Saturation
          input(type="text" data-provide="slider" data-slider-step="1"
            data-slider-min=0 data-slider-max=100 data-bind="slider: bgsaturation")
        div(class="col-sm-12 col-md-6 col-lg-3 col-xl-3")
          div Bkg Value
          input(type="text" data-provide="slider" data-slider-step="1"
            data-slider-min=0 data-slider-max=100 data-bind="slider: bgvalue")
    div(class="container text-secondary mt-5")
      div(class="row")
        div(class="col-12")
          | WTTL Generator by
          |
          a(target="_blank" href="https://twitter.com/retorillo") Retorillo
          |
          | (2018/08)
        div(class="col-12")
          a(target="_blank" data-bind="attr: { href: flfurl }, text:flfname")
          |
          | by
          |
          span(data-bind="text:flfauthor")
          |
          | (
          span(data-bind="text:flfdate")
          | )
        div(class="col-12")
          a(target="_blank" href="https://sourceforge.net/projects/ocr-a-font/") OCR-A
          |
          | by John Sauter (2018/01)
